@{
    ViewBag.CurrentPageName = null; // The menu item will be active for this page.
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    感谢您的答卷
                </h2>
            </div>
            <div class="body table-responsive">
                <h4>
                    <span class="label label-success">
                        本次答卷已完成,感谢您的耐心填卷
                    </span>
                    <i class="material-icons">done</i>
                </h4>
            </div>
        </div>
    </div>
</div>